    <div class="iconBox d-flex">
        <button type="button" class="btn me-1"><span class="material-symbols-outlined">search</span></button>
        <button type="button" class="btn"><span class="material-symbols-outlined">notifications_active</span></button>
    </div>
