<nav class="d-flex flex-column justify-content-between py-5">
    <ul class="nav nav-tabs flex-column align-items-start border-0" id="myTab" role="tablist">
        <a href="#" class="mb-5 w-100 ps-5">
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg" alt="logo圖片">
        </a>
        <li class="nav-item w-100 mb-4" role="presentation">
            <button class="nav-link  w-100 fw-bold border-top-0 border-end-0 border-bottom-0" id="Dashboard-tab" data-bs-toggle="tab" data-bs-target="#Dashboard" type="button" role="tab" aria-controls="Dashboard" aria-selected="false"><span class="material-symbols-outlined">insert_chart</span>Dashboard</button>
        </li>
        <li class="nav-item w-100 mb-4" role="presentation">
            <button class="nav-link w-100 fw-bold border-top-0 border-end-0 border-bottom-0" id="Question-tab" data-bs-toggle="tab" data-bs-target="#Question" type="button" role="tab" aria-controls="Question" aria-selected="false"><span class="material-symbols-sharp">forum</span>Question</button>
        </li>
        <li class="nav-item w-100 mb-4" role="presentation">
            <button class="nav-link w-100  fw-bold border-top-0 border-end-0 border-bottom-0" id="Assignment-tab" data-bs-toggle="tab" data-bs-target="#Assignment" type="button" role="tab" aria-controls="Assignment" aria-selected="false"><span class="material-symbols-outlined">assignment</span>Assignment</button>
        </li>
        <li class="nav-item w-100 mb-4" role="presentation">
            <button class="nav-link w-100 fw-bold border-top-0 border-end-0 border-bottom-0" id="Course-tab" data-bs-toggle="tab" data-bs-target="#Course" type="button" role="tab" aria-controls="Course" aria-selected="false"><span class="material-symbols-outlined">video_library</span>Course</button>
        </li>
        <li class="nav-item w-100 mb-4" role="presentation">
            <button class="nav-link w-100 active fw-bold border-top-0 border-end-0 border-bottom-0" id="Admin-tab" data-bs-toggle="tab" data-bs-target="#Admin" type="button" role="tab" aria-controls="Admin" aria-selected="true"><span class="material-symbols-outlined">group</span>Admin</button>
        </li>
        <li class="nav-item w-100 mb-4" role="presentation">
            <button class="nav-link w-100 fw-bold border-top-0 border-end-0 border-bottom-0" id="Settings-tab" data-bs-toggle="tab" data-bs-target="#Settings" type="button" role="tab" aria-controls="Settings" aria-selected="false"><span class="material-symbols-outlined">settings</span>Settings</button>
        </li>
    </ul>
    <div class="user d-flex align-items-center">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="user圖片" class="personImg">
        <div class="account">
            <h6 class="fw-bold">Andy Chen</h6>
            <p>andy0401@mail.com</p>
        </div>
    </div>

</nav>
